<!DOCTYPE html>
<html>
    <!--https://workschedule.net/-->
    <head>
        <title>Work Scheduler</title>
        <script src="../../static/javascript/calendar.js"></script>
        <link rel="stylesheet" href="../../static/css/calendar.css">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Calendar</title>
        <!-- Include jQuery first -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Include FullCalendar CSS and JS from CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

    </head>
    <body>
        <header>
        </header>
        <div id="sidenav">
            <h2>Home</h2>
            <h2>Calendar</h2>
            <h2>Request work time change</h2>
        </div>
        <main>
            <div id="calendar"></div>
        </main>
    </body>
</html>

